.task-card {
  width: 100%;
  min-height: 160px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0px 10px 2px #c7c7c7;
  transition: 0.3s;
  position: relative;
}

.task-card:hover {
  box-shadow: 0 0px 10px 2px #787474;
}

.card-header1 {
  width: 80%;
  font-size: 20px;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 5px;
}

.card-description {
  width: 80%;
  border-bottom: 1px solid #c7c7c7;
  font-size: 16px;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 15px;
}

.priority-high {
  display: inline;
  padding: 4px;
  background-color: red;
  border-radius: 5px;
}

.priority-low {
  display: inline;
  padding: 4px;
  background-color: greenyellow;
  border-radius: 5px;
}

.card-assignee1 {
  width: 36px;
  height: 36px;
  background-color: #cdc9c9;
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-assignee-text1 {
  margin: 0 auto;
}

.time-opened-icon {
  position: absolute;
  font-size: 40px;
  right: 10px;
  bottom: 5px;
}

.short-time {
  color: yellow;
}

.long-time {
  color: red;
}

.issuetype-icon {
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 5px;
}

.task-icon {
  color: green;
}

.bug-icon {
  color: red;
}
