.nav-item1 {
  font-family: "Tangerine", serif;
  font-size: 30px;
  color: #6cacff;
  cursor: pointer;
  height: 100%;
  display: block;
  padding: 0 20px;
}
.nav-item1:hover {
  background-color: #abc7ff;
  color: #fff;
}

.nav-item1.active {
  background-color: #abc7ff;
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
}

.nav-item1 a {
  text-decoration: none;
}
